

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;
}

#title {
  text-align: center;
}

#employee {
  border-collapse: collapse;
  border: 3px solid #ddd;
}

#employee td,
#employee th {
  border: 1px solid #ddd;
  padding: 12px;
}

#employee tr:hover {
  background-color: #ddd;
}

#employee th {
  padding: 10px;
  text-align: center;
  background-color: #4940ce;
  color: white;
}

.opration {
  text-align: center;
}

.button {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
  margin-right: 20px;
}

.button:active {
  border: 1px solid blue;
}
.button:hover {
    background-color: #4940ce;
    color: #fff;
  }
  .button-margin{
      margin-right: 10px
  }
  .model-user{
      height: 100%;
      width: 100%;
  }
  .model-input{
      width: 100%;
  }
  @import 'bootstrap/dist/css/bootstrap.css';
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");